{% extends "base.html" %}

{% block header %}
<h1 class="display-4">Hello, ini adalah halaman {{ page }}!</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, neque debitis.
    Vitae maiores eius quisquam doloremque numquam, dolore hic quia voluptas perspiciatis iure quaerat
    non quis ullam voluptatem ab nemo!
</p>
{% endblock header %}


{% block content-1 %}
<div class="row" style="height: 400px;">

</div>
{% endblock content-1 %}


{% block content-2 %}
<div class="row" style="height: 400px;">

</div>
{% endblock content-2 %}